@import url('./theme/variables.css');
@import url('./styles/utils.css');
@import url('./components/Table/Table.css');
@import url('./components/Details/Details.css');

memori-client,
memori-client #root,
#headlessui-portal-root,
body.sb-show-main #root,
#storybook-root,
#storybook-docs,
.memori-widget {
    --memori-font-family: 'Lexend Deca Variable', 'Lexend Deca', sans-serif;
    --memori-primary-rgb: 130, 70, 175;
    --memori-primary: rgb(var(--memori-primary-rgb));
    --memori-primary-text: #fff;
    --memori-inner-content-pad: 1rem;
    --memori-inner-bg: transparent;
    --memori-chat-bubble-bg: #fff;
    --memori-chat-user-bubble-bg: var(--memori-primary);
    --memori-text-color: #000;
    --memori-border-radius: 5px;
    --memori-box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    --memori-button-bg: #fff;
    --memori-button-text: #000;
    --memori-button-padding: 0.5rem 1.5rem;
    --memori-button-border-color: #d9d9d9;
    --memori-button-radius: var(--memori-border-radius);
    --memori-button-box-shadow: var(--memori-box-shadow);
    --memori-button-disabled-bg: #ccc;
    --memori-button-disabled-color: #000;
    --memori-blur-background: 0px;
    --memori-drawer--width: 80%;
    --memori-drawer--width--md: 80%;
    --memori-drawer--width--lg: 60%;
    --memori-modal--width: 80%;
    --memori-modal--width--md: 80%;
    --memori-error-color: #ff4d4f;
    --memori-warning-color: #faad14;

    font-family: var(--memori-font-family, 'Lexend Deca Variable', 'Lexend Deca', sans-serif);
    font-size: 16px;
}
